aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.7.0
asarPy==1.0.1
attrs==24.2.0
azure-core==1.33.0
azure-storage-blob==12.25.1
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
Cython==3.0.12
dash==3.0.1
dash-bootstrap-components==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
distro==1.9.0
Flask==3.0.3
frozenlist==1.5.0
gpxpy==1.6.2
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
importlib_metadata==8.6.1
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.8.0
komootgpx==1.3.2
Mako==1.3.9
Markdown==3.5.2
MarkupSafe==3.0.2
meson==1.5.2
multidict==6.1.0
narwhals==1.32.0
nest-asyncio==1.6.0
numpy==2.2.4
openai==1.57.0
packaging==24.2
pandas==2.2.3
pillow==11.0.0
plotly==6.0.1
propcache==0.2.1
pycairo==1.27.0
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.19.1
PyGObject==3.52.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
retrying==1.3.4
setuptools==78.1.0
six==1.17.0
sniffio==1.3.1
tqdm==4.67.1
typing_extensions==4.13.0
tzdata==2025.2
urllib3==2.3.0
Werkzeug==3.0.6
wheel==0.45.1
yarl==1.18.3
zipp==3.21.0
